* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #667eea;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        width: 50%;
        min-height: 55vh;
        display: flex;
        padding: 0rem 1rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: white;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        .title-side {
            font-size: 1.4rem;
            font-weight: bold;
            background: #333333;
            color: #EEECEC;
            padding: 0.3rem;
            border-radius: 10px;
        }
        .main-jokes-side {
            width: 100%;
            text-align: center;
            .save-button {
                padding: 0.2rem 0.4rem;
                font-size: 1.2rem;
                border: none;
                background: #fd632b;
                color: #000;
                cursor: pointer;
            }
        }
        .button {
            padding: 1rem;
            font-family: inherit;
            font-weight: bold;
            font-size: 1.1rem;
            border: none;
            outline: none;
            border-radius: 5px;
            background: #6876DF;
            border-bottom: 5px solid #3a3aee;
            color: #fff;
            transition: all 0.3s ease;
            cursor: pointer;
            &:active {
                border-bottom: none;
            }
        }
    }
}

.favorite-jokes-save {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    transform: translateX(-100%);
    background: #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem;
    transition: transform 0.5s ease;
    z-index: 99;
    .favourite-jokes-title {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: #ff7c02;
        text-transform: uppercase;
    }
    .jokes {
        list-style: none;
        height: 90vh;
        background: #4e4e4e;
        overflow-y: auto;
        .favorite-joke {
            display: flex;
            justify-content: space-between;
            min-width: 40%;
            background: #fff;
            margin:0rem 0rem 1rem 0rem;
            .fav-joke, .delete-button {
                padding: 0.2rem 0.5rem;
                outline: none;
                border: none;
            }
            .delete-button {
                padding: 0.4rem 1.2rem;
                font-size: 1.5rem;
                color: #000;
                background: #fff;
                cursor: pointer;
                transition: all 0.3s ease;
                i {
                    pointer-events: none;
                }
                &:hover {
                    color: #fff;
                    background: #e01212;
                }
            }
        }
    }
}

@keyframes deleteFavJoke {
    0% {
        transform: skewX(0);
    }
    50% {
        transform: skewX(-10deg) translateX(-100%);
    }
    100% {
        transform: skewX(0) translateX(-100%);
    }
}

.slider-button {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 99;
    .slider {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.9rem;
        background: none;
        border: 2px solid #fff;
        background: #fff;
        cursor: pointer;
        i {
            pointer-events: none;
        }
    }
}

.active {
    transform: translateX(0%);
}

.dark-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    display: none;
}

.notification {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: lightgray;
    padding: 1rem;
    font-weight: bold;
    display: none;
}